@charset "utf-8";
/* CSS Document */
.bgcolor{background-color:#9c0 !important;}
.color{color:#9c0 !important;}

#menu .main .active{background-color:#9c0 !important;}
#menu .sub{background-color:#9c0 !important;}
#menu .sub a:hover{background-color:#690 !important;}

/*
     FILE ARCHIVED ON 14:11:29 Aug 27, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:30:07 Jun 23, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 1.21
  load_resource: 187.658
  PetaboxLoader3.resolve: 24.261
  PetaboxLoader3.datanode: 163.03
*/