@charset "ISO-8859-1"; /* CSS Document */
html,body,form,fieldset,legend{margin:0; padding:0; }
fieldset,img{border:0; }
table{border-collapse:collapse; border-spacing:0; }
caption,th,td{text-align:left; vertical-align:top; font-weight:normal; }
input,textarea,select{font-size:110%; line-height:1.1; }


/*------------------------------------------			CORPO		--------------------------------------------*/
#corpo {width:980px; margin-left:auto; margin-right:auto; clear:both; text-align:left; position:relative; }
#corpoh {width:970px; margin-top:5px; margin-left:auto; margin-right:auto; clear:both; text-align:left; position:relative; }
/*navbar */
#navbar {width:975px; margin-left:auto; margin-right:auto; clear:both; text-align:left; margin-top:3px; padding-left:5px;}
/*// navbar */

/*ads */
#adtop {width:728px; margin-left:auto; margin-right:auto; padding:10px; height:90px; clear:both; text-align:center; z-index:1;}
#adtopDet {width:728px; margin-left:auto; margin-right:auto; padding:10px; height:110px; clear:both; text-align:center;}
#admatsky { padding:20px 0 20px 0; width:100%; text-align:center; clear:both;}
#ad300 {float:right; padding:0 0 15px 20px; width:300px; height:250px; text-align:right;overflow:hidden;}
#adsense_busca_top {padding:5px 0 15px 10px; width:460px;}
/*// ads */

#barTerr {position:absolute; top:0px; left:0px; height:24px; width:100%; overflow:hidden; margin:0px; padding:0px;}

/*------------------------------------------		//	CORPO	--------------------------------------------*/

/* FONTS */
body,input,textarea{font-family:Arial, Helvetica, sans-serif; }
a,a:visited {text-decoration:none; color:#0066CC;}
a:hover { color:#FF9900;}
a:hover p,
a:hover em{color:#f90; text-decoration:none; }
.tag{color:#888; font-size:11px; font-weight:bold; text-transform:uppercase; letter-spacing:0; font-style:normal; }
.box{clear:both; }


#corpoh {width:970px; margin-top:5px; margin-left:auto; margin-right:auto; clear:both; text-align:left; position:relative; }

/* PARTNER-BAR */
.partner{position:absolute; top:0; left:0; width:100%; height:24px; background-color:#f90; }

/* TITLES */
.tt{font-size:18px; font-weight:bold; letter-spacing:-0.05em; color:#ccc; display:block; text-transform:lowercase; margin-bottom:10px; }
.tt a{color:#ccc; }
.tt a:hover{color:#888; }
.box .tt{border-top:2px solid #eee; padding-top:3px; }

/* LIST-STYLE */
.lh,
.lv{overflow:hidden; width:100%; list-style:none; margin:0; padding:0; }
.lv li{float:left; clear:both; }
.lv li.first{margin-top:0 !important; padding-top:0 !important; background:none !important; }
.lh li{float:left; }
.lh li.first{margin-left:0 !important; padding-left:0 !important; background:none !important; }
.lv p,
.lh p{display:block; color:#444; font-size:12px; line-height:1.5em; font-weight:normal; text-align:justify; letter-spacing:0; }
.bd-t{border-top:2px solid #ecf0f2; }
.rdb{border:1px solid #e1e5ea; padding:9px; }
.rdb .lt li{padding-left:8px; padding-right:8px; }
.border-r{padding-right:13px; border-right:1px solid #eee; }

/* TEXT */
.txt-l .image{float:left; margin-right:10px; }
.txt-b .image{margin-bottom:5px; }
.t12,
.t14,
.t16,
.t20{line-height:1.25em; font-weight:bold; letter-spacing:-0.05em; color:#36c; outline:none; }
.t12:hover,
.t14:hover,
.t16:hover,
.t20:hover{color:#f90; text-decoration:underline; }
.t12{font-size:12px; }
.t14{font-size:14px; }
.t16{font-size:16px; }
.t20{font-size:20px; }

/* IMAGES */
a .image{position:relative; display:block; overflow:hidden; cursor:pointer; }
.image img{position:relative; display:block; }
a:hover .image{border:2px solid; }
a:hover .image img{margin:-2px; }
.i300,
.i300 img{width:300px; height:150px; }
a:hover .i300{width:296px; height:146px; }
.i195,
.i195 img{width:195px; height:98px; }
a:hover .i195{width:191px; height:94px; }
.i140,
.i140 img{width:140px; height:70px; }
a:hover .i140{width:136px; height:66px; }
.i95,
.i95 img{width:95px; height:47px; }
a:hover .i95{width:91px; height:43px; }

/* COLORS */
.bc-d{border-color:#9c0 !important; }
.bc-k{border-color:#444 !important; }
.bc-t{border-color:#09c !important; }
.bc-c{border-color:#0c9 !important; }
.bc-p{border-color:#96c !important; }
.bc-g{border-color:#c33 !important; }

/* FLOATS */
.fl{float:left; }
.fr{float:right; }

/* GRID */
.w150{width:150px; }
.w300{width:300px; }
.w460{width:460px; }
.w625{width:625px; }
.w950{width:950px; }

/* AVATAR-PX */
.u45{width:45px; height:45px; }
.u100{width:100px; height:100px; }

/* ADS-PX */
.a728{width:728px; padding:10px; margin:0 auto; clear:both; }
.a300{width:300px; }
.a460{width:460px; height:300px; overflow:hidden; }

/* DROPDOWN */
.dd .arrow{font-weight:bold; display:block; padding-right:16px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bt-menudd.gif) no-repeat right center; }
.dd.active .arrow{background-image:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bt-menudd2.gif); }
/* BT-BLUE */
.bt-blue{background:#06c url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bt-blue.png) center; cursor:pointer; font-weight:bold; font-size:12px; line-height:16px; color:#fff; padding:7px; -moz-border-radius:2px; -webkit-border-radius:2px; }
/* BT-GRAY */
a.bt-gray{background:#ddd url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bt-gray.png) center; float:left; cursor:pointer; font-weight:bold; font-size:12px; line-height:16px; color:#666; padding:6px; border:1px solid #ddd; -moz-border-radius:2px; -webkit-border-radius:2px; }
input.bt-gray{float:left; cursor:pointer; font-weight:bold; font-size:12px; line-height:16px; color:#666; padding:6px; border:1px solid #ddd; height:30px; padding:6px 7px 8px; -moz-border-radius:2px; -webkit-border-radius:2px; background:#ddd url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bt-gray.png) center; }

/* HEADER */
#header{position:relative; z-index:999999; margin:24px auto 0; padding:0 10px; height:58px; }
#logo{float:left; margin-top:6px; }

/* SEARCH */
#search{position:absolute; width:360px; height:30px; top:14px; left:300px; }
#search .txt-search{position:relative; background:#fff url("/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bg-fm-txt.png") repeat-x center; float:left; }
#search .txt-search input{border-width:1px; border-style:solid; border-color:#ccc #ddd #ddd #ccc; -moz-border-radius:3px; -webkit-border-radius:3px; padding:6px 10px 6px 28px; width:235px; height:16px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/ic-search.gif) no-repeat left center; font-style:italic; font-size:14px; line-height:16px; color:#888; float:left; }
#search .fm-btn{width:80px; float:right; }
#search .btn-search:hover{background-position:bottom; }
#search .active{border-color:#fc0 !important; color:#444 !important; font-style:normal !important; }
.sugestion-box{position:absolute; left:0; right:0; top:26px; border:1px solid #ddd; padding:1px; background-color:#fff; z-index:999999; float:left; }
.sugestion-box li{float:left; clear:both; width:100%; }
.sugestion-box li a{display:block; line-height:22px; font-size:12px; font-weight:normal; color:#444; padding:0 6px; }
.sugestion-box li a:hover{background-color:#e0e5e9; }

/* USER */
#header .user{position:relative; float:right; width:195px; height:48px; padding:5px; z-index:1; font-size:12px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bg-user.png) repeat-x bottom; }
#header .user a:hover{text-decoration:underline; }
#header .user .avatar{float:left; margin-right:10px; width:45px; height:45px; padding:1px; background:#fff; border:1px solid #ddd; -moz-border-radius:2px; -webkit-border-radius:2px; }
#header .user a{color:#666; font-weight:bold; }
#header .user .links{display:block; list-style:none; padding:0; margin:2px 0 0; font-size:11px; float:left; }
#header .user .links li{display:block; margin-right:20px; float:left; }
#header .user .links a{color:#888; font-weight:normal; }
#header .signin{position:relative; z-index:1; float:right; margin-top:14px; height:30px; }
#header .signin .bt-txt{float:left; font-size:12px; color:#666; margin:9px 10px 9px 0; }
#header .signin a:hover.bt-txt{text-decoration:underline; }
#header .login{display:none; position:absolute; right:0; top:30px; width:178px; padding:10px; background:#f5f5f5; border:1px solid #ddd; z-index:-1; -moz-border-radius-topleft:3px; -moz-border-radius-bottomleft:3px; -moz-border-radius-bottomright:3px; }
#header .login ol{margin:0 0 10px; overflow:hidden; list-style:none; padding:0; }
#header .login ol li{width:100%; padding:5px 0; float:left; clear:both; }
#header .login .fm-lbl,
#header .login .fm-oth{font-size:12px; color:#888; }
#header .login .fm-txt{width:166px; margin-top:5px; }
#header .login .msg-error{margin-top:15px; }
#header .login .fm-btn{width:85px; float:left; }
#header .login .fm-bta{font-size:12px; font-weight:bold; color:#06c; width:85px; float:right; line-height:1.25em; }
#header .login a:hover.fm-bta{text-decoration:underline; }
#header .signin .dd{display:inline; }
#header .active .dd-name{border-bottom:none; background:#f5f5f5 !important; -moz-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0; padding:6px 6px 8px 6px; }
#header .active .dd-menu{display:block; z-index:999;}
#header .load-s{ float:right; margin:2px 0; font-size:12px; padding:6px 0 6px 30px; color:#666; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/load-s.gif) no-repeat left center; }

/* MENU */
#menu{position:relative; width:100%; font-size:12px; z-index:999998; }
#menu ul{position:relative; margin:0 auto; padding:0; z-index:1; overflow:visible; }
#menu li{float:left; }
#menu a{display:block; }
#menu .first{background:none !important; }
#menu .main{width:100%; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bg-submenu.png) repeat-x center; border-bottom:2px solid #ddd; }
#menu .main ul{height:24px; list-style:none; padding:0; }
#menu .main li{position:relative; margin-right:-1px; border-left:1px solid #fff; border-right:1px solid #fff; }
#menu .main a{padding:6px 8px; line-height:12px; color:#666; text-transform:uppercase; font-size:11px; font-weight:bold; float:left; }
#menu .main a:hover,
#menu .main li .active{position:relative; margin:-2px 0 -2px 0; -moz-border-radius:2px 2px 0 0; -webkit-border-top-left-radius:2px; -webkit-border-top-right-radius:2px; z-index:1; }
#menu .main a:hover{background:#ddd; border-top:2px solid; padding:6px 8px 6px; }
#menu .main li .active{border:none; background:#fff; padding:8px 10px 8px; color:#fff; font-weight:bold; }
#menu .sub{width:100%; }
#menu .sub ul{height:30px; list-style:none; padding:0; }
#menu .sub li{background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bg-submenu.gif) no-repeat left center; }
#menu .sub a{padding:4px 5px 4px 5px; margin:3px 5px 3px 5px; line-height:16px; color:#fff; float:left; }
#menu .sub a:hover{background:#690; z-index:1; -moz-border-radius:2px; -webkit-border-radius:2px; }
#menu .arrow{background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bt-menudd.png) no-repeat right center; }
#menu .active .arrow{background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bt-menudd2.gif) no-repeat right center; }
#menu .sub .arrow{height:16px; float:left; }
#menu .sys{display:block; width:15px; height:15px; margin-right:6px; background-repeat:no-repeat; background-image:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/ic-sys-menu.gif) !important; float:left; }
#menu .active .sys{background-image:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/ic-sys-menu2.gif) !important; }
#menu .win{background-position:0 0; }
#menu .mac{background-position:0 -15px; }
#menu .linux{background-position:0 -30px; }
#menu .iphone{background-position:0 -45px; }

#menu .sub .dd-name{padding:7px 6px; margin:0; }
#menu .sub .active .dd-name{position:relative; margin:-2px -1px -1px 0; padding:8px 6px 8px 5px; line-height:16px; color:#888; border-top:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd; background-color:#fff; -moz-border-radius:2px 2px 0 0; -webkit-border-radius:2px 2px 0 0; }
#menu .sub .active .dd-menu{height:auto; border:1px solid #ddd; background-color:#fff; z-index:-1; position:absolute; left:0; top:30px; }
#menu .sub .dd-menu a{background:none; }

#menu .sub .dd .dd-menu{display:none; }
#menu .sub .active .dd-menu{display:block; }

#menu .sub ul ul a{margin:0; float:none; }
#menu #sys{position:relative; }
#menu #sys ul{width:100px; right:-1px; -moz-border-radius:0 0 3px 3px; -webkit-border-radius:0 0 3px 3px;}
#menu #sys ul li{width:100%; float:left; clear:both; background:none; }
#menu #sys ul a{padding:7px 5px; color:#888; -moz-border-radius:0; -webkit-border-radius:0; }
#menu #sys ul a:hover{background-color:#eee !important; }
#menu #cats ul{width:948px; padding:5px 0; -moz-border-radius:2px; -webkit-border-radius:2px; }
#menu #cats ul li{width:178px; border-right:1px solid #eee; padding:0 5px; background:none; }
#menu #cats ul li.last{border:none; }
#menu #cats ul a{color:#36c; padding:6px 8px; -moz-border-radius:2px; -webkit-border-radius:2px; }
#menu #cats ul a em {	font-style:normal;	color:#69c;font-size:11px;line-height:1em;}
#menu #cats ul .pop{display:block; float:left; width:11px; height:11px; float:left; margin:2px 5px 0 0; text-indent:-999em; overflow:hidden; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bl-star.png) no-repeat; }
#menu #cats ul a:hover{background-color:#e1e5ea !important; }
#menu .sub a:hover.dd-name{background-color:#eee !important; }

/* FOOTER */
#footer{position:relative; clear:both; width:100%; padding-bottom:20px; border-top:2px solid #ddd; background-color:#eee; }
#footer .ins{position:relative; clear:both; width:100%; }
#footer .ins ul{overflow:hidden; list-style:none; padding:7px 0; margin:0 auto; }
#footer .ins li{float:left; margin-right:20px; }
#footer .ins li.last{border-right:none; }
#footer .ins a{font-size:11px; color:#666; font-weight:bold; line-height:16px; display:block; text-transform:uppercase; }
#footer .search{position:relative; }
#footer .cop{position:relative; margin:0 auto; clear:both; font-size:12px; color:#666; line-height:16px; }
#footer .cop ul{float:right; list-style:none; padding:0; margin:0; }
#footer .cop li{float:left; margin-right:6px; padding-right:6px; }
#footer .cop li.last{margin-right:0px; padding-right:0px; border-right:none; }
#footer .cop a{color:#666; font-weight:bold; }
#footer .net{position:relative; clear:both; margin:0 auto; width:970px; display:none; }
#footer .net ul{overflow:hidden; }
#footer .net li{float:left; margin-right:20px; padding-right:20px; }
#footer .net a{display:block; overflow:hidden; text-indent:-999px; height:30px; background-image:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/footer.png); background-repeat:no-repeat; }
#footer .net .nzn{width:40px; background-position:0 0; }
#footer .net .bxk{width:110px; background-position:-40px 0; }
#footer .net .tdg{width:104px; background-position:-150px 0; }
#footer .net .bxj{width:61px; background-position:-254px 0; }
#footer .net .otz{width:45px; background-position:-315px 0; }
#footer .net .mse{width:89px; background-position:-360px 0; }
#footer .net .ejf{width:88px; background-position:-449px 0; }
#footer .net .mmu{width:67px; background-position:-537px 0; }

/* CONTENTS */
#contents{position:relative; margin:0 auto; padding:10px; background-color:#fff; clear:both; }

/* FORMS */
form .fm-lbl{display:block; }
form .fm-chk{display:block; height:16px; padding:0 0 0 20px; position:relative; }
form .fm-oth{cursor:pointer; float:left; padding-left:18px; position:relative; }
form .fm-oth input{position:relative; float:left; margin:1px 0 1px -18px; }
form .fm-sel{border:2px solid; font-size:13px; color:#444; background-color:#fff; line-height:16px; height:30px; padding:5px; -moz-border-radius:3px; -webkit-border-radius:3px; }
form .fm-txt{border-width:1px; border-style:solid; border-color:#ccc #ddd #ddd #ccc; font-size:14px; color:#444; background:#fff url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bg-fm-txt.png) repeat-x top center; padding:5px; line-height:16px; height:16px; -moz-border-radius:3px; -webkit-border-radius:3px; }
form .fm-txt.active{border-color:#fc0; }
form input:focus{-moz-outline-style:none; outline:none; }
form input:active{outline:none; }
form .msg-error{font-size:12px; color:#888; line-height:1.5em; padding:5px 10px; display:block; margin-bottom:10px; -moz-border-radius:2px; -webkit-border-radius:2px; }
form .fm-active{border-color:#fc0; }
form .fm-error{border-color:#c33; }
form .fm-btn{-moz-border-radius:3px; -webkit-border-radius:3px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v10/bt-blue.png) repeat-x top center #06c; border:0; cursor:pointer; color:#fff; font-size:12px; font-weight:bold; text-align:center; text-transform:uppercase; height:30px; padding:6px 7px 8px; }
form .fm-btn:hover{background-position:bottom; }



/*


				IMPORTADO  DO  V8


*/


h1, h2, h3, h4 {margin:0; padding:0; display:block; color:#434343; font-family:Arial, Helvetica, sans-serif; font-weight:bold; }
h1 {font-size:28px; }
h2 {font-size:18px; }
#corpo {width:980px; margin-left:auto; margin-right:auto; clear:both; text-align:left; position:relative; color:#333; font-size:12px; }
#corpoh {width:970px; margin-top:5px; margin-left:auto; margin-right:auto; clear:both; text-align:left; position:relative; color:#333; font-size:12px; }
#navbar {width:975px; margin-left:auto; margin-right:auto; clear:both; text-align:left; margin-top:3px; padding-left:5px; font-size:12px; color:#333; }
#navbar a{color:#06c; }
#navbar a:hover{color:#f90; }
#adtop {width:728px; margin-left:auto; margin-right:auto; padding:10px; height:90px; clear:both; text-align:center; z-index:1; }
#adtopDet {width:728px; margin-left:auto; margin-right:auto; padding:10px; height:110px; clear:both; text-align:center; }
#admatsky {padding:20px 0 20px 0; width:100%; text-align:center; clear:both; }
#ad300 {float:right; padding:0 0 15px 20px; width:300px; height:250px; text-align:right; overflow:hidden; }
#adsense_busca_top {padding:5px 0 15px 10px; width:460px; }
#progficha {border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE; padding:6px 15px 10px 25px; margin-left:2px; width:285px; height:99px; float:left; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:19px; font-size:11px; }
#prognota {text-align:center; width:210px; float:left; padding-top:6px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; }
#prognota img {padding:12px 0 9px 0; }
#prog {float:left; width:740px; margin-right:20px; clear:both; }
#prog img.down {padding-top:10px; float:left; clear:both; }
#prog #texto {border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE; padding:18px; position:relative; width:702px; margin-bottom:33px; clear:both; text-align:justify; font-size:14px; }
#prog #texto .subtitulo {color:#F90; font-size:16px; font-family:Arial, Helvetica, sans-serif, sans; font-weight:bold; text-transform:uppercase; }
#prog #texto li {margin-left:20px; margin-bottom:5px; }
#prog #texto li.tit {margin-left:0; }
#prog #texto strong {font-size:14px; color:#06C; }
#prog b.t {position:absolute; top:-8px; left:-1px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/detail/bord-top.png) no-repeat; width:740px; height:8px; }
#prog b.b {position:absolute; bottom:-8px; left:-1px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/detail/bord-bot.png) no-repeat; width:740px; height:8px; }
#prog ul.obs {margin:20px 0 0 0; padding:0; clear:both; }
#prog ul.obs li {margin:5px 0 5px 20px; }
#prog ul.obs li.tit {font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size:16px; color:#06F; list-style:none; margin-left:0; }
#comp, #prog #comp.first {width:180px; height:95px; padding-top:5px; text-align:center; border-right:1px solid #DEDEDE; float:left; margin-top:10px; }
#comp.first {border-left:1px solid #DEDEDE; }
#comp img {margin-bottom:10px; }
#prog.titprog {height:65px; overflow:hidden; vertical-align:middle; margin-bottom:20px; }
#progdir {position:absolute; right:0; top:73px; width:224px; overflow:hidden; text-align:center; }
#progdir #galer {border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE; position:relative; width:222px; height:230px; margin-bottom:33px; clear:both; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; }
#progdir #galer b.t {position:absolute; top:-8px; left:-1px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/detail/bord-img-top.png) no-repeat; width:224px; height:8px; }
#progdir #galer b.b {position:absolute; bottom:-8px; left:-1px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/detail/bord-img-bot.png) no-repeat; width:224px; height:8px; }
#progdir #galer .stepcarousel {position:relative; overflow:hidden; width:210px; height:150px; }
#progdir #galer .stepcarousel .belt {position:absolute; left:0; top:0; height:150px; }
#progdir #galer .stepcarousel .panel {float:left; overflow:hidden; width:200px; height:150px; padding:0 2px 0 8px; }
#progdir #galer p.cont {margin-top:10px; margin-left:auto; margin-right:auto; font-family:Arial, Helvetica, sans-serif; font-size:14px; }
#tags b {margin:0 5px 0 5px; }
#progdir #time {text-align:center; padding-left:70px; position:relative; width:154px; margin-top:10px; clear:both; height:70px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/detail/time.jpg) no-repeat; }
#progdir #tempo {font-size:18px; font-weight:bold; }
#progdir #velo {font-size:14px; font-weight:bold; line-height:22px; }
#progdir #autor {width:224px; overflow:hidden; text-align:center; font-size:11px; margin-top:5px; font-family:Verdana, Arial, Helvetica, sans-serif; }
#progdir #autor ul {margin:5px 0 0 0; padding:0 0 0 15px; list-style:square; text-align:left; }
#progdir #tags {width:224px; margin:10px 0 25px 0; text-align:center; color:#06F; font-weight:bold; line-height:25px; font-size:14px; }
#progdir #chart {position:relative; height:117px; }
#formvelo label.error {display:inline-block; color:#F00; font-style:italic; }
#chtime {padding:4px; width:212px; border:1px solid #DEDEDE; height:100px; text-align:center; }
#down {border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE; padding:2px 18px 18px 18px; position:relative; width:942px; margin-bottom:33px; clear:both; text-align:justify; font-size:14px; }
#down b.t {position:absolute; top:-8px; left:-1px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/down/bord-top.png) no-repeat; width:980px; height:8px; }
#down b.b {position:absolute; bottom:-8px; left:-1px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/down/bord-bot.png) no-repeat; width:980px; height:8px; }
#downstart {padding:15px 20px 20px 120px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/down/seta-60.jpg) no-repeat; height:45px; clear:both; border:1px solid #DEDEDE; }

#corpomat {float:right; width:750px; margin-right:10px; z-index:1; position:relative; }
#materia {border:1px solid #ADADAD; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/bg-listr.jpg) repeat-x; padding:20px; color:#333; line-height:18px; position:relative; z-index:1; }
#materia #texto {clear:both; margin:20px 0 0 0; text-align:justify; font-size:14px; }
#materia h1 {font-style:italic; width:650px; padding-bottom:5px; }
#materia #recomende {position:absolute; top:8px; right:20px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/mat/legal.gif) no-repeat; height:40px; padding-left:27px; padding-top:8px; z-index:3; }
#materia #recomende span {font-size:14px; font-weight:bold; color:#333; }
#materia #recomende a {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; }
#materia #tools {line-height:17px; vertical-align:middle; }
#materia #tools img {margin-right:3px; }
#materia #tools a {padding-right:7px; margin-left:7px; border-right:1px solid #dedede; }
#materia #tools a.last {padding-right:0; margin-left:7px; border-right:none; }
#menulat {width:190px; background-color:#F0F0F0; float:left; }
#menulat ul {border-bottom:1px solid #DEDEDE; width:190px; float:left; margin:0; padding:0; list-style:none; background-color:#FFF; }
#menulat ul li {margin:0; display:block; padding:9px 9px 9px 30px; text-align:left; font-size:13px; font-weight:bold; border-top:1px solid #DEDEDE; border-left:1px solid #DEDEDE; border-right:1px solid #DEDEDE; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/li/tri-cinza.png) no-repeat; }
#menulat ul li.tit {color:#393939; font-size:22px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/bg-listr.jpg) repeat-x; padding:15px; text-align:center; margin:0; }
#menulat ul li.tit h1, #menulat ul li h1 {color:#393939; font-size:22px; text-align:center; margin:0; padding:0; }
#menulat ul li.dest {color:#91B41F; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/li/bola-verde.png) no-repeat; }
#menulat ul li.dest a {color:#91B41F; }
#menulat ul li.dest a:hover {color:#FC0; }
#menulat ul li.sel {background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/li/tri-verde.png) no-repeat; }
#menulat ul li.selsub {background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/li/tri-verde-down.png) no-repeat; }
#menulat ul li.sub, #menulat ul li.lv2, #menulat ul li.lv3, #menulat ul li.lv4 {border-top:none; font-weight:normal; font-size:12px; background:none; padding:0 9px 9px 30px; }
#menulat ul li.sub a, #menulat ul li.lv2 a, #menulat ul li.lv3 a, #menulat ul li.lv4 a {color:#494949; }
#menulat ul li.sub a:hover, #menulat ul li.lv2 a:hover, #menulat ul li.lv3 a:hover, #menulat ul li.lv4 a:hover {color:#FC0; }
#abas {background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/aba/bg.png) bottom repeat-x; width:100%; font-size:14px; font-weight:bold; min-height:28px; height:28px; clear:both; margin-bottom:15px; }
#abas a {color:#333; font-style:normal; }
#abas a:hover {color:#060; }
#abas ul {margin:0 0 0 18px; padding:0; list-style:none; }
#abas li {margin:0 4px 0 0; padding:0 5px 0 0; text-align:center; float:left; border-bottom:1px solid #999; height:27px; }
#abas li span {display:block; float:left; padding:6px 10px 4px 15px; text-align:center; height:17px; }
#abas li {background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/aba/abas.png) 100% 0; }
#abas li span {background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/aba/abas.png) 0 0; }
#abas li.verde {background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/aba/abas.png) 100% -100px; }
#abas li.verde span {background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/aba/abas.png) 0 -100px; }
#abas li.ativo {border-bottom:1px solid #FFF; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/aba/abas.png) 100% -50px; }
#abas li.ativo span {background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/aba/abas.png) 0 -50px; }
#listprog td {border-bottom:1px solid #DEDEDE; padding:15px; min-width:50px; text-align:center; }
#listprog td.txt {text-align:left; width:380px; }
#listprog span.nome {cursor:pointer; font-size:16px; font-weight:bold; color:#06C; }
#listprog .data {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#999; }
#listprog .new {color:#F90; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; text-transform:capitalize; }
#headlist {float:left; height:30px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/bg-listas.png) repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; color:#999; border-top:1px solid #DEDEDE; border-bottom:1px solid #DEDEDE; }
#headlist td {padding:5px 10px 5px 10px; border-left:1px solid #FFF; text-align:center; }
#headlist td a {color:#999; }
#headlist td a:hover {color:#F90; }
#headlist td.sel {color:#666; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/bg-list-sel.png) no-repeat; padding-left:15px; }
.listagem {float:left; }
#list_ads_dir {width:160px; float:right; }
.listagem td {text-align:center; width:82px; border-bottom:1px solid #DEDEDE; padding:20px 10px 20px 10px; }
.listagem td.a {width:24px; }
.listagem td.b {width:100px; }
.listagem td.b.img {border:none; width:100px; height:65px; }
.listagem td.c {width:309px; text-align:left; }
.listagem td.c a {font-size:16px; font-weight:bold; }
.listagem td.c a.peq {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; font-weight:normal; }
.paginacao a {background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/bg-list-pag.png) repeat-x; border:1px solid #DEDEDE; padding:2px 7px 2px 7px; margin:0 1px 0 1px; height:22px; }
.paginacao a:hover {background-image:none; background-color:#06C; color:#FFF; border:1px solid #666; font-weight:bold; }
.paginacao a.sel, .paginacao a.sel:hover {color:#434343; background-image:none; background-color:#FFF; cursor:text; border:1px solid #434343; }
#suabusca {position:relative; top:-15px; right:-4px; float:right; width:245px; height:169px; padding:10px; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/sua-busca.png) no-repeat; overflow:hidden; }
#suabusca .lic {clear:both; margin:5px 0 15px 0; }
#suabusca .lic b {line-height:25px; }
#suabusca .lic a.g {border-left:1px solid #434343; border-right:1px solid #434343; padding:0 8px 0 8px; margin:0 8px 0 8px; }
#suabusca .lic a.ativo {font-weight:bold; color:#434343; }
#suabusca .subsislnk {clear:both; margin-top:5px; width:255px; }
#suabusca .subsislnk b {line-height:25px; }
#suabusca .subsislnk a {border-left:1px solid #434343; padding:0 6px 0 8px; margin:0; }
#suabusca .subsislnk a.um {border:none; padding-left:0; }
#suabusca .subsislnk a.sel {font-weight:bold; color:#434343; }
#suabusca .u {margin-top:10px; }
#suabusca .u a.um {padding-right:8px; margin-right:8px; border-right:1px solid #434343; }
#suabusca .u a.sel {font-weight:bold; color:#434343; }
.subcatslist {padding-top:3px; width:460px; }
.subcatslist a {line-height:18px; }
.listmat {clear:both; }
.listmat td {padding:20px 10px 20px 10px; border-bottom:1px solid #DEDEDE; }
.listmat td.a {font-size:13px; width:450px; padding:20px 0 20px 0; border-bottom:1px solid #DEDEDE; }
.listmat td.b {font-size:12px; width:100px; font-weight:normal; text-align:center; border-bottom:1px solid #DEDEDE; }
.listmat td.c {font-size:12px; width:70px; text-align:center; border-bottom:1px solid #DEDEDE; }
.listmat td.d {font-size:12px; width:70px; text-align:center; border-bottom:1px solid #DEDEDE; }
.listmat span.por {font-size:12px; color:#999; }
#opiniao {width:530px; overflow:hidden; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/coment-bg.png) right top no-repeat; padding:20px 20px 40px 190px; min-height:80px; font-size:14px; position:relative; margin-bottom:20px; clear:both; text-align:justify; }
#opiniao span.t {font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size:14px; color:#9C0; font-style:italic; display:block; }
#opiniao span.t20 {font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size:20px; color:#9C0; font-style:italic; display:block; }
#opiniao b.dt {color:#999; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; display:block; margin-bottom:7px; font-weight:normal; position:static; background:none; width:auto; height:auto; }
#opiniao b {position:absolute; bottom:-1px; right:0; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/coment-bot.png) no-repeat; width:627px; height:25px; }
#opiniao img {border:1px solid #333; position:absolute; top:20px; left:30px; }
#opiniao img.n {float:right; border:none; position:static; }
#opiniao span.nm {position:absolute; top:107px; left:0; width:142px; text-align:center; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#9C0; }
.lic_1 {font-size:12px; color:#06C; font-weight:bold; }
.lic_2 {font-size:12px; color:#749D00; font-weight:bold; }
.fon_v {font-family:Verdana, Arial, Helvetica, sans-serif; }
.a13 {font-family:Arial, Helvetica, sans-serif; font-size:13px; }
.a14 {font-family:Arial, Helvetica, sans-serif; font-size:14px; }
.b {font-weight:bold; }
.v {font-family:Verdana, Arial, Helvetica, sans-serif; }
.x9 {font-size:9px; color:#666; }
.top {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:29px; font-weight:bold; color:#999; }
.x10 {font-size:10px; }
.x12 {font-size:12px; }
.x14 {font-size:14px; }
.x16 {font-size:16px; }
.x18 {font-size:18px; }
.x22 {font-size:22px; }
.ita {font-style:italic; }
.tip {font-family:Verdana, Arial, Helvetica, sans-serif; color:#999; font-size:10px; font-weight:normal; }
.list_data, .peq, .peq a, .list_data a {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; font-weight:normal; }
.list_data, .c999 {color:#999; }
.new {color:#F90; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:9px; text-transform:capitalize; font-weight:normal; }
.tit {font-size:18px; color:#434343; font-weight:bold; }
.right {float:right; }
.clr {clear:both; }
.left {float:left; }
.center {text-align:center; margin-left:auto; margin-right:auto; }
.img_dir {float:right; margin-left:10px; margin-bottom:10px; }
.img_esq {float:left; margin-right:10px; margin-bottom:10px; }
.centro {text-align:center; width:590px; margin:15px 0 15px 0; }
.some {left:-5000px; top:-5000px; position:absolute; display:none; visibility:hidden; }
.nota_on, .nota_off {background-position:left; width:34px; height:30px; cursor:pointer; }
.nota_on {background-image:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/notas/on-med.png); }
.nota_off {background-image:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/notas/off-med.png); }
#bxkgal, #bxkgal1 {width:204px; height:80px; padding:10px 47px 10px 47px; border:1px solid #DEDEDE; margin-top:5px; }
#bxkgal .stepcarousel, #bxkgal1 .stepcarousel {position:relative; overflow:hidden; width:206px; height:80px; }
#bxkgal .stepcarousel .belt, #bxkgal1 .stepcarousel .belt {position:absolute; left:0; top:0; }
#bxkgal .stepcarousel .panel, #bxkgal1 .stepcarousel .panel {float:left; overflow:hidden; width:90px; margin-right:20px; text-align:center; }
#bxkgal .stepcarousel .belt img, #bxkgal1 .stepcarousel .belt img {margin-top:5px; width:90px; }
#comentwall {padding-left:55px; position:relative; min-height:50px; padding-bottom:10px; border-bottom:1px dotted #DEDEDE; margin-bottom:15px; }
#comentwall img.a {position:absolute; left:0; top:0; border:1px solid #000; }
#comentwall .d {font-weight:normal; color:#999; }
.wfav {padding-left:15px; position:relative; top:-25px; }
#wall {width:650px; float:left; clear:both; min-height:1300px; }
#wall .por {width:205px; float:left; text-align:left; height:50px; padding-right:20px; padding-top:15px; padding-left:55px; position:relative; line-height:18px; overflow:hidden; }
#wall .av {border:1px solid #000; left:0; position:absolute; top:10px; }
#wall .views {float:left; border-right:1px solid #DEDEDE; border-left:1px solid #DEDEDE; text-align:center; width:150px; height:50px; padding-top:15px; font-size:14px; }
#wall .nota {float:left; border-right:1px solid #DEDEDE; text-align:center; width:215px; height:50px; padding-top:15px; }
.wallultimas {width:300px; margin-bottom:40px; }
.wallultimas div {float:left; margin:0 10px 10px 0; width:90px; height:75px; overflow:hidden; text-align:center; padding:0; }
.wallultimas img {margin-left:-5px; height:75px; }
.wallultimas div.nb, .wallultimas div .nb, .nb {margin-right:0; }
.subtit-artigo {margin-top:14px; display:block; padding-bottom:5px; font-size:20px; font-weight:normal; line-height:1em; background:url(/web/20100827141133im_/http://www.baixaki.com.br/img/v8/tecnologia/dot-999999.gif) repeat-x bottom; }
#oktbtn {width:115px; height:22px; overflow:hidden; }
.notes-left {float:left; margin:14px 14px 14px 0; }
.notes-right {float:right; margin:14px 0 14px 14px; }
.notes-left, .notes-right {background-color:#ECF0F2; padding:10px 15px; width:210px; }
.notes-left p, .notes-right p {font-size:12px; text-align:justify; line-height:1.5em; color:#444; margin:5px 0; }

/*
     FILE ARCHIVED ON 14:11:33 Aug 27, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:30:06 Jun 23, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.297
  load_resource: 112.584
  PetaboxLoader3.resolve: 74.854
  PetaboxLoader3.datanode: 18.484
*/